<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <h1>Things I Want To Do</h1>

    <table>
        {% for item1 in items %}
        <tr>
            {% if item.done %}
            <td><del>{{ item1.name }}</del></td>
            {% else %}
            <td>{{ item1.name }}</td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td>You have nothing to do</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/add">Add an Item</a>
</body>

</html>